<button class="btn btn-primary" (click)="selectionType = GridSelectionType.Single">Single Select</button>
<button class="btn btn-primary" (click)="selectionType = GridSelectionType.Multi">Multi Select Select</button>
<button class="btn btn-primary" (click)="selectionType = GridSelectionType.None">No Select Select</button>
<button class="btn btn-primary" (click)="this.newData()">New Data</button>
<vcd-datagrid
    [gridData]="gridData"
    (gridRefresh)="refresh($event)"
    [columns]="columns"
    [selectionType]="selectionType"
    (selectionChanged)="selectionChanged($event)"
></vcd-datagrid>
