<clr-datagrid [clrDgLoading]="isLoading" [ngClass]="this.clrDatagridCssClass">
    <clr-dg-action-bar *ngIf="buttonConfig">
        <div class="btn-group" *ngFor="let button of buttonConfig.globalButtons">
            <button class="btn" [ngClass]="button.class" *ngIf="button.shouldDisplay()" (click)="button.handler()">
                {{ button.label }}
            </button>
        </div>

        <div
            class="btn-group"
            *ngIf="
                buttonConfig.contextualButtons.position === ContextualButtonPosition.TOP &&
                getDatagridSelection().length !== 0
            "
        >
            <ng-container *ngFor="let button of this.getFeaturedButtons(this.getDatagridSelection())">
                <button type="button" class="btn btn-icon" (click)="button.handler(getDatagridSelection())">
                    <clr-icon [attr.shape]="button.icon"></clr-icon>
                </button>
            </ng-container>
            <clr-dropdown class="btn-group-overflow open" *ngIf="buttonConfig.contextualButtons.buttons.length !== 0">
                <button class="btn dropdown-toggle" clrDropdownTrigger>
                    <clr-icon shape="ellipsis-horizontal"></clr-icon>
                </button>
                <clr-dropdown-menu class="dropdown-menu" *clrIfOpen>
                    <ng-container *ngFor="let button of buttonConfig.contextualButtons.buttons">
                        <button
                            class="btn"
                            [ngClass]="button.class"
                            [class.disabled]="!button.shouldDisplay(getDatagridSelection())"
                            (click)="button.handler(getDatagridSelection())"
                        >
                            {{ button.label }}
                        </button>
                    </ng-container>
                </clr-dropdown-menu>
            </clr-dropdown>
        </div>
    </clr-dg-action-bar>

    <clr-dg-column *ngFor="let column of columnsConfig">
        <ng-container *ngIf="isColumnHideable(column); else notHideable">
            <ng-container *clrDgHideableColumn="{ hidden: column.hideable === GridColumnHideable.Hidden }">{{
                column.displayName
            }}</ng-container>
        </ng-container>
        <ng-template #notHideable>{{ column.displayName }}</ng-template>
    </clr-dg-column>

    <clr-dg-row
        *ngFor="let restItem of items; let i = index"
        [ngForTrackBy]="trackBy"
        [ngClass]="this.clrDatarowCssClassGetter(restItem, i)"
        [clrDgItem]="restItem"
    >
        <button
            type="button"
            class="btn btn-icon datagrid-row-action"
            *ngFor="let button of this.getFeaturedButtons([restItem])"
            (click)="button.handler([restItem])"
            type="button"
            role="button"
        >
            <clr-icon [attr.shape]="button.icon"></clr-icon>
        </button>
        <clr-dg-action-overflow *ngIf="buttonConfig.contextualButtons.position === ContextualButtonPosition.ROW">
            <button
                *ngFor="let button of buttonConfig.contextualButtons.buttons"
                class="action-item"
                (click)="button.handler([restItem])"
                [disabled]="!button.shouldDisplay([restItem])"
                [ngClass]="button.class"
            >
                {{ button.label }}
            </button>
        </clr-dg-action-overflow>

        <clr-dg-cell *ngFor="let column of columnsConfig">
            <!-- Default renderer -->
            <ng-container *ngIf="column.fieldName">{{ restItem | nestedProperty: column.fieldName }}</ng-container>

            <!-- Renderer is a function -->
            <ng-container *ngIf="column.fieldRenderer">{{
                restItem | functionRenderer: column.fieldRenderer
            }}</ng-container>

            <!-- Renderer is a componentRenderer -->
            <ng-template
                *ngIf="column.fieldColumnRendererSpec"
                [vcdComponentRendererOutlet]="{ rendererSpec: column.fieldColumnRendererSpec, context: restItem }"
            >
            </ng-template>
        </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer> </clr-dg-footer>
</clr-datagrid>
